.App {
  text-align: center;
  display: flex;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes skew {
  0% {
    color: rgb(139, 139, 139);
    transform: skewX(20deg);
  }
  100% {
    color: rgb(255, 38, 255);
    transform: skewX(-10deg);
  }
}


.graph {
  width: 50%;
}

.headline {
  font-size: 8rem;
  font-family: 'Bangers', cursive;
  animation: skew 3s infinite;
  animation-direction: alternate;
  margin: 0;
}

.tagline {
  font-size: 2rem;
  font-family: 'Bangers', cursive;
  color: rgb(255, 40, 255);
}

.container {
  display: flex;  
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
  align-items: center;
}

.loading {
  margin-top: 15%;
  width: 75%;
  border-radius: 50%;
  animation: App-logo-spin infinite 20s linear;

}

.conversation {
  margin: 1rem;
}

.statement {
  border: 1px solid black;
  padding: 1rem;
}

.agent {
  text-align: left;
}

.customer {
  text-align: right;
}

button {
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
  color: rgb(158, 158, 158);
  background: none;
}

button:hover {
  color: rgb(255, 0, 254);
}


